<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Terms and Services page for our website.">
    <meta name="google-site-verification" content="rkdAchDqucEGvc6Y3XPq7ePuhMjL5yO8NbfDOr36qVk" />
    <meta name="yandex-verification" content="068d48d05133c0da" />
    <meta name="msvalidate.01" content="D949E2F107551F710F1D7CCF92BE9E7E" />
    <meta name="seznam-wmt" content="q8VfEmQZXMhbgdKsPRVR6zS8NJ729RNB" />
    <meta name="naver-site-verification" content="" />
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>

<body>
    <div class="lil-urls-container">
        <div class="lil-urls-content container">
            <header>
                <div class="lil-urls-navigation-menu-bar">

                    <div class="lil-urls-navigation-menu">
                        <nav class="navbarnavbar-light navbar-fixed">
                            <div class="lil-urls-logo-container">
                                <div class="lil-urls-logo">
                                    <a class="navbar-brand" href="/">
                                        <img src="{{ url_for('static', filename='lil-urls-logo.png') }}"
                                            alt="Lil URLs Logo">
                                    </a>
                                </div>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/terms-and-conditions"> Terms and Conditions</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="content">
                <h1>Terms and Conditions</h1>
                <p>Welcome to [Your Company Name]. By accessing or using our services, you agree to comply with and be
                    bound by the following Terms and Conditions. Please read them carefully before using our website.
                </p>

                <h2>Acceptance of Terms</h2>
                <p>By using this website or our services, you agree to the terms outlined in this agreement. If you do
                    not agree with any part of these terms, you must refrain from using our services.</p>

                <h2>Changes to Terms</h2>
                <p>We may update or modify these Terms and Conditions at any time. Any changes will be effective
                    immediately upon posting on this page. Please review this page periodically for updates.</p>

                <h2>Account Registration</h2>
                <p>If you create an account with us, you must provide accurate and complete information. You are
                    responsible for maintaining the confidentiality of your account information and for all activities
                    under your account.</p>

                <h2>Use of Services</h2>
                <p>You agree to use our services in accordance with applicable laws and regulations. You will not use
                    our services for any unlawful or prohibited activities, including but not limited to distributing
                    malware, spamming, or infringing upon intellectual property rights.</p>

                <h2>Intellectual Property</h2>
                <p>All content, logos, and intellectual property on this website are the property of [Your Company
                    Name]. You may not copy, distribute, or use any content from this website without prior written
                    permission.</p>

                <h2>Limitation of Liability</h2>
                <p>We are not liable for any damages arising from the use of our services, including direct, indirect,
                    incidental, or consequential damages. You use our services at your own risk.</p>

                <h2>Privacy</h2>
                <p>Your privacy is important to us. Please refer to our <a href="/privacy-policy">Privacy Policy</a> for
                    information on how we collect, use, and protect your personal information.</p>

                <h2>Termination</h2>
                <p>We reserve the right to suspend or terminate your access to our services at any time, without notice,
                    for conduct that violates these Terms and Conditions or for any other reason deemed necessary by us.
                </p>

                <h2>Indemnification</h2>
                <p>You agree to indemnify and hold harmless [Your Company Name] and its affiliates from any claims,
                    damages, or expenses arising from your use of the website or violation of these Terms and
                    Conditions.</p>

                <h2>Governing Law</h2>
                <p>These Terms and Conditions are governed by the laws of [Your Country]. Any legal action or proceeding
                    related to these Terms and Conditions shall be exclusively subject to the jurisdiction of the courts
                    in [Your Location].</p>

                <h2>Contact Us</h2>
                <p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at: <a href="/contact">Contact Us</a></p>

            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Lil URLs. All Rights Reserved.</p>
    </footer>

</body>

</html>